name: build-jar
run-name: ${{ github.actor }} is learning GitHub Actions
on: []
jobs:
  clojure:
    runs-on: ubuntu-latest
    steps:
        -   name: Checkout 
            uses: actions/checkout@v3
        -   name: Prepare java
            uses: actions/setup-java@v3
            with:
                distribution: 'zulu'
                java-version: '8'
        -   name: Install clojure tools
            uses: DeLaGuardo/setup-clojure@11.0
            with:
              cli: 'latest'              # Clojure CLI based on tools.deps
        -   name: Download gephi toolkit
            run: curl -O https://github.com/gephi/gephi-toolkit/releases/download/v0.10.0/gephi-toolkit-0.10.0-all.jar
        -   name: "Execute build"
            run: clj -T:build uber
        -   name: "upload build"
            uses: actions/upload-artifact@v3
            with:
              name: target-dir
              path: target/
